@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
    /* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

     /* universal */

* {
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    font-family: Lato;
    position: relative;
    color: black;
    background-color: #eee;

}

    /* navigation */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #eee;
    margin-top: 1rem;
    top: 0;
    left: 0;
}


.flex-nav ul{
    display: flex;
    justify-content: space-around;
}

.flex-nav a{
    text-decoration: none;
    padding: 1rem 0;
    color: inherit;
}

.nav-menu{
    width: 40%;
}

.brand-logo{
    width: 60%;
}

.logo{
    width: 400px;
}

/* main */
 
.main{
    height: 100vh;
    width: 50%;
    margin: -25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-main{
    padding: 2em;
    /* outline: auto; */
}

    /* newsletter */

.newsletter input, button, h2{
    display: block;
    margin: 1rem auto;
}

.newsletter input{
    padding: .4rem 5rem;
    font-size: 1rem;
    margin-top: 1.5em;
    /* WHY WON'T THIS WORK */
    text-align: left;
}

.newsletter button{
    padding: .4rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f1c40f;
    border-radius: 5%;
    
}
